{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}
<head>

</head>
{% block content %}
<body>
    <!--::header part start::-->
    {% for courseitem in chapter.courseitem.all %}
    <header class="main_menu single_page_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->

    <!-- breadcrumb start-->
    
    <section>
        <div class="container">
                {% video courseitem.video as my_video%} 
            <div class="row">
                <div class="col-lg-12">
                    <!-- URL: {{my_video.url}} -->
                    <!-- Backend: {{ my_video.backend }} -->
                    {% video my_video '1200x600' %}
                </div>
            </div>
        </div>
        {% endvideo %}
    </section>
    
    <!-- breadcrumb start-->
<hr>
    <!--================ Start Course Details Area =================-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 course_details_left">
                  
                    <div class="content_wrapper">
                        <h4 class="title_top">{{courseitem.title}}</h4>
                        <div class="content">
                            {{courseitem.description}}
                            <br>
                            <br>
                            <p><strong>PDF:</strong>
                            <a href="{{courseitem.pdf.url}}" target="_blank">{{courseitem.pdf}}</a>
                        </p>
                            <br>
                            <p><strong>github code:</strong></p>
                             <a href ="{{courseitem.github}}" target="_blank">{{courseitem.github}}</a>
                        </div>

                            <hr>
                        <h4 class="title">Course Outline</h4>
                       {% include "titles.html" %}
                               
                            </ul>
                        </div> 
                    </div>
                </div>


                <div class="col-lg-4 right-contents">
                    <div class="sidebar_top">
                        <ul>
                            <li>
                                <a class="justify-content-between d-flex" href="#">
                                    <p>Trainer’s Name</p>
                                    <span class="color">{{courseitem.lec_name}}</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="#">
                                    <p>Course Fee </p>
                                    <span>$230</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="#">
                                    <p>Available Seats </p>
                                    <span>15</span>
                                </a>
                            </li>
                            <li>
                                <a class="justify-content-between d-flex" href="#">
                                    <p>Uploaded</p>
                                    <span>{{courseitem.date_time}}</span>
                                </a>
                            </li>

                        </ul>
                        <a href="#" class="btn_1 d-block">Enroll the course</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
    <!--================ End Course Details Area =================-->


</body>
{% endblock %}
</html>



<!-- class Review(models.Model):
    RATING_CHOICES = (
        (1, '1'),
        (2, '2'),
        (3, '3'),
        (4, '4'),
        (5, '5')
    )
    course = models.ForeignKey(Course, related_name='reviews')
    pub_date = models.DateTimeField(auto_now_add=True)
    user_name = models.ForeignKey(settings.AUTH_USER_MODEL, related_name='reviewers')
    comment = models.CharField(max_length=200)
rating = models.IntegerField(choices=RATING_CHOICES) -->